body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-dm-sans);
}

h1{
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}


.sidebar__navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    list-style: none;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}


.sidebar__biblioteca{
    background-color: #121212;
    border-radius: 8px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 12px;
    flex-direction: column;
    min-block-size: 40px;
    cursor: pointer;
}

.sidebar__biblioteca .biblioteca_content {
    display: flex;
    justify-content: space-between;
}

.sidebar__biblioteca .biblioteca_botao {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
    cursor: pointer;
}

.sidebar__biblioteca .biblioteca_botao span {
    font-size: 16px;
}

.sidebar__biblioteca .biblioteca_botao .fa {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 300;
    padding-right: 8px;
}


.sidebar__biblioteca .biblioteca_content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__botao {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    border: 0;
    padding: 10px;
    width: 113px;
    margin-top: 12px;
}


.sidebar__biblioteca .fa-plus:hover {
    color: #ffffff;
}

.sidebar__biblioteca .biblioteca_botao:hover {
    color: #ffffff;
}

.sidebar .cookies{
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    color: #fff;
    text-decoration: underline;
}

.languages .languages__botao {
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #878787;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
}

.disclaimer-premium {
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premiumtitle {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.disclaimer-premium .disclaimer-premiumsubtitle {
    font-size: 14px;
    font-weight: 500;
    color: #b3b3b3;
}

.disclaimer-premium button {
    background-color: #b3b3b3;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 40px;
    flex-shrink: 0;
    cursor: pointer;
    padding: 14px 30px;
}

.disclaimer-premium button:hover {
    background-color: #fff;
    cursor: pointer;
    top: 52px;
    height: 52px;
}




















/* .main-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 320px;
    width: 900px;
    display: flex;
    align-items: center;
    background-color: #121212;
    border-radius: 4px;
    padding: 12px;
    margin-top: 12px;
    gap: 12px;
}

.main-container .left-arrow-botao {
    background-color: #000000;
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .right-arrow-botao {
    background-color: #000000;
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .search-bar__content_search .search-botao {
    display: flex;
    background-color: #2e2e2e;
    border-radius: 20px;
    border: 0;
    width: 350px;
    height: 40px;
    cursor: pointer;
    justify-content: left;
    align-items: center;
    padding: 10px 10px;
    gap: 12px;
    margin-right: 220px;
}

.search-botao .fa {
    background-color: transparent;
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 300;
}


.main-container .inscrever a {
    background-color: transparent;
    text-decoration: none;
    text-transform: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
}

.main-container .inscrever a:hover {
    color: #d1d0d0;
}


.main-container .login-botao {
    background-color: #e4e4e4;
    border: 0;
    border-radius: 20px;
    padding: 14px 23px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.main-container .login-botao:hover {
    background-color: #f7f7f7;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    font-size: 14px;
  } */