body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-dm-sans);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 18.75rem;
}


.sidebar__navigation{
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar__navigation .logo img {
    width: 5rem;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 1.25rem;
    padding: 0 1.25rem 0.625rem 1.25rem;
}

.sidebar nav ul li {
    padding: 0.625rem 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.sidebar ul li .fa {
    font-size: 1.25rem;
    margin-right: 0.625rem;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}


.sidebar__biblioteca{
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0.625rem;
    flex-direction: column;
    min-block-size: 2.5rem;
    cursor: pointer;
}

.sidebar__biblioteca .biblioteca_content {
    display: flex;
    justify-content: space-between;
}

.sidebar__biblioteca .biblioteca_botao {
    margin-right: 0.625rem;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 1.25rem 0.625rem;
    display: flex;
    cursor: pointer;
}

.sidebar__biblioteca .biblioteca_botao span {
    font-size: 1rem;
}

.sidebar__biblioteca .biblioteca_botao .fa {
    font-size: 1.25rem;
    margin-right: 1.25rem;
    font-weight: 300;
    padding-right: 0.5rem;
}


.sidebar__biblioteca .biblioteca_content .fa-plus {
    margin: 1.5rem 0.625rem;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 0.875rem;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

.section-playlist__content .section-playlist__botao {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    border: 0;
    padding: 0.625rem;
    width: 7.063rem;
    margin-top: 0.75rem;
}


.sidebar__biblioteca .fa-plus:hover {
    color: #ffffff;
}

.sidebar__biblioteca .biblioteca_botao:hover {
    color: #ffffff;
}

.sidebar .cookies{
    margin: 1.5rem 1.25rem;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 0.75rem;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    color: #fff;
    text-decoration: underline;
}

.languages .languages__botao {
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: 0.063rem solid #878787;
    border-radius: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    width: 10.625rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.disclaimer-premium {
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premiumtitle {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
}

.disclaimer-premium .disclaimer-premiumsubtitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: #b3b3b3;
}

.disclaimer-premium button {
    background-color: #b3b3b3;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 2.5rem;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0.875rem 1.875rem;
}

.disclaimer-premium button:hover {
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.09);
}